<ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-light">
          <i class="fa fa-group" style="font-size:24px;margin-right: 8px;"></i><a routerLink="/customerView/cartView" routerLinkActive="red active">Cart View</a>
        </li>
        <li class="list-group-item list-group-item-light">
          <i class="fa fa-th-list" style="margin-right: 8px;"></i><a routerLink="/customerView/listView" routerLinkActive="red">List View</a>
        </li>
        <li class="list-group-item list-group-item-light">
          <i class="fa fa-map-marker fa-1x" style="margin-right: 8px;"></i><a routerLink="/customerView/mapView" routerLinkActive="red">Map View</a>
        </li>
        <li class="list-group-item list-group-item-light">
          <i class="fa fa-plus-square" style="margin-right: 8px;"></i><a routerLink="/customerView/addCustomer" routerLinkActive="red">Add Customer</a>
        </li>
      </ul>
      <br>
      <router-outlet>
          
      </router-outlet>