<ul class="list-group list-group-horizontal">
    <li class="list-group-item list-group-item-light"><i class="fa fa-user" style="font-size:24px;margin-right: 8px;"></i><a routerLink="/customerInfo/customerInfoDetails" routerLinkActive="red active">Customer Details</a></li>
    <li class="list-group-item list-group-item-light"><i class="fa fa-reorder fa-1x" style="margin-right: 8px;"></i><a routerLink="/customerInfo/customerOrderView" routerLinkActive="red">Order</a></li>
    <li class="list-group-item list-group-item-light"><i class="fa fa-edit fa-1x" style="margin-right: 8px;"></i><a routerLink="/customerInfo/customerUpdate" routerLinkActive="red">Edit Customer</a></li>
  </ul>
  <router-outlet></router-outlet>